@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sedan SC';
  src: url(https://fonts.cdnfonts.com/css/sedan-sc);
}


@font-face {
  font-family: 'Content-Bold';
  src: url('./fonts/Content-Bold.woff') format('woff');
  font-weight: bold;
}
nav h1 {
  font-family: 'Sedan SC', serif;
  font-size: 2rem ;
}
nav ul{
  font-family: 'Open Sans', serif;
  font-size: 1.2rem;
}
h1 {
  font-family: 'Content-bold', serif;
  font-size: 4rem;
}
@layer base {
  #root {
    @apply h-full;
  }

  html,body {
    @apply h-full;
    @apply select-none;
    @apply bg-transparent;
    @apply font-mono;
    @apply overflow-hidden;
  }
}

.active {
  @apply text-orange-500 underline underline-offset-4
}
.bg-image {
  background-image: url('./assets/_.jpeg');
}

p {
  font-family: 'Open Sans', serif;
}